PORT=3000
VERIFY_TOKEN=your_custom_verify_token
PAGE_ACCESS_TOKEN=your_meta_page_access_token
MESSENGER_API_BASE_URL=https://graph.facebook.com/v23.0
DEEPSEEK_API_KEY=your_deepseek_api_key
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-chat
MODEL_TEMPERATURE=0.4
MODEL_MAX_TOKENS=120
MAX_MEMORY_MESSAGES=8
REQUEST_TIMEOUT_MS=5000
IMAGE_ANALYSIS_PROVIDER=none
APP_ENV=development
